.podcast-detail-episodes {
  height: auto;
}

.podcast-detail-episodes-quantity {
  padding: 10px;
  box-shadow: 5px 5px 15px -5px #000000;
}

.podcast-detail-episodes-quantity > h3 {
  margin: 0;
}

.episodes-list {
  padding: 15px;
  box-shadow: 5px 5px 15px -5px #000000;
}

.episode-titles {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 0fr 0fr;
  gap: 23px 19px;
  padding: 10px;
}
