.card {
  border: 1px solid #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.6rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 7px 2px 7px -1px rgba(0, 0, 0, 0.5);
}

.card > .card__img {
  border-radius: 50%;
  width: 5rem;
  margin-top: -3rem;
}

.card > .card__text {
  font-size: 0.7rem;
}
