.episode-item {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 0fr 0fr;
  gap: 23px 19px;
  padding: 10px;
}

.episode-item > span:first-child {
  color: #339fff;
  min-width: 0;
}

.episode-item:nth-child(even) {
  background-color: #d7d7d7;
}
