.episode {
  padding: 10px;
  box-shadow: 5px 5px 15px -5px #000000;
  font-style: oblique;
}

.episode > .episode__divider {
  border: 1px solid #d7d7d7;
}

.episode > .episode__audio {
  margin-top: 10px;
  width: 100%;
}
