.filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 2rem;
}

.filter > .filter__quantity {
  background: #339fff;
  padding: 0.6rem;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  margin-right: 0.3rem;
}

.filter > .filter__input {
  width: 30%;
  display: block;
  margin: 0;
  padding: 0.6rem;
  color: inherit;
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: inherit;
  border: 1px solid #d7d7d7;
  border-radius: 0.4rem;
  transition: box-shadow 300ms;
}
