.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 2rem;
}

.input-text {
  width: 30%;
  display: block;
  margin: 0;
  padding: 10px;
  color: inherit;
  font-family: inherit;
  font-size: 12px;
  font-weight: inherit;
  border: 1px solid #d7d7d7;
  border-radius: 0.4rem;
  transition: box-shadow 300ms;
}
